/target/
*.log
.DS_Store
.idea/
.vscode/
crates/gui/node_modules/
crates/gui/dist/*
!crates/gui/dist/.gitkeep
crates/gui/src-tauri/gen/schemas/
crates/gui/src-tauri/binaries/*
!crates/gui/src-tauri/binaries/README.md
